<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Acervo Virtual</title>
    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body class="login-page">
    <main class="login-container">
        <div class="login-form-box">
            <img src="{% static 'img/acervo.png' %}" class="login-logo" alt="Logo da Biblioteca">
            <h2>Defina sua nova senha</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn">Salvar nova senha</button>
            </form>
        </div>
        <div class="login-image"></div>
    </main>
</body>

</html>